<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<title>SUSMAP</title>

<style>
    #menu a{
        color: white;
        background-color: rgba(7, 102, 146, 0.863);
        padding-bottom: 5px;
        margin-bottom: 5px;
    }
    #menu a:hover{
        color: white;
        background-color: rgb(21, 121, 187);
        border-bottom: rgb(40, 4, 107) solid 1px;
    }
    .jumbotron.header{
        background-color: cadetblue;
        color: white;
        background-image: linear-gradient(cadetblue, rgba(7, 14, 114, 0.904));
    }
</style>

<div class="jumbotron header text-center">
    <h1>SUSMAP</h1>
</div>

<div class="text-right mr-4">
    <a href="/logout/">Sair</a>
</div>

<div id="menu">
    <ul class="nav ml-4">
        <li class="nav-item">
            <a class="nav-link" href="#">Formulário</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Histórico</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Manual</a>
        </li>
    </ul>
</div>