{%extends "model-page.html" %}

{% block content %}
<style>
.titulo {
    text-align: center;
    font-size: 2em;
    margin-top: 35px;
    color: rgb(21, 121, 187);
}

.box-qualificadores {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding-top: 45px;
}

.qualificador {
    width: calc(33.33% - 4px );
    max-width: 100%;
    padding: 30px 15px;
    margin: 2px;
    transition: 1s;
}

.qualificador:hover {
    background-color: rgb(238, 232, 232);
    transition: 1s;
}

.qualificador select {
    width: 100%;
    max-width: 100%;
    height: 37px;
}

</style>
<form action="{% url 'core:unidades-listar'%}" method="post">{% csrf_token %}
<h1 class="titulo">Selecione um dos qualificadores</h1>

<section class="box-qualificadores">
    <div class="container">
        {% for message in messages %}
        <div class="alert alert-danger">
            <strong>Error!</strong>{{message}}
        </div>
        {% endfor %}
    </div>
    <div class="container">
        {% for s in sintoma %}
        <h4>{{s.nome}}</h4>
        <div class="row">
            <div class="qualificador col-md-6">   
                <select class="form-control" name="{{s.nome}}" >
                    <option value="">Selecione</option>
                {% for q in s.qualificador_set.all %}
                    <option value="{{q.nome}}">{{q.nome}}</option>
                {% endfor %}
                </select>
           </div>
        </div>
       {% endfor %}
    </div>
       <a href="#">
        <button type="submit" class="btn btn-primary">Próximo</button>
       </a>
       
</section>
</form>
{% endblock %}