{%extends "model-page.html" %}

{% block content %}
<style>
.titulo {
    text-align: center;
    font-size: 2em;
    margin-top: 35px;
    color: rgb(21, 121, 187);
}

.box-qualificadores {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding-top: 45px;
}

.qualificador {
    width: calc(33.33% - 4px );
    max-width: 100%;
    padding: 30px 15px;
    margin: 2px;
    transition: 1s;
}

.butao1{
    margin-top: 50;
}

.campo-sintomas{
    margin-top: 30px;
}

</style>
<form action="{% url 'core:unidades-listar'%}" method="post">{% csrf_token %}
<h1 class="titulo">Selecione um dos qualificadores</h1>

<section class="box-qualificadore">
    <div class="container">
        {% for message in messages %}
        <div class="alert alert-danger">
            <strong>Error!</strong>{{message}}
        </div>
        {% endfor %}
    </div>
    <div class="container campo-sintomas">
        {% for s in sintoma %}
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-3">
                <h5>{{s.nome}}</h5>
            </div>
            <div class="col-md-3">   
                <select class="form-control" name="{{s.nome}}" >
                    <option value="">Selecione</option>
                {% for q in s.qualificador_set.all %}
                    <option value="{{q.nome}}">{{q.nome}}</option>
                {% endfor %}
                </select>
           </div>
           <div class="col-md-3"></div>
        </div>
       {% endfor %}
    </div>
    <div class="container">
        <div class="row">
            <div class="butao1">
                <a href="#">
                    <button type="submit" class="btn btn-primary">Próximo</button>
                   </a>
            </div>
        </div>
    </div>  
</section>
</form>
{% endblock %}